<div class="d-flex flex-column flex-fill p-4 position-relative rouded-sm" style="box-shadow: 0 0 5px 0px;">
    <form>
        <div class="d-flex flex-column">
            <div class="form-group w-100">
                <label for="userName" style="font-size:12px;font-weight:600">Username</label>
                <input type="text" class="form-control" id="userName" aria-describedby="userNameHelp" placeholder="John">
              </div>
              <div class="form-group w-100">
                <label for="password" style="font-size:12px;font-weight:600">Password</label>
                <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Password">
              </div>
        </div>
        </form>
</div>