<div class="d-flex flex-column flex-fill p-4 position-relative">
  <div class="d-flex flex-column">
    <h3>Enter your password to sign in</h3>
  </div>

  <div class="d-flex flex-column py-3">
    <form>
      <div class="d-flex">
        <div class="form-group w-100">
          <label for="password" style="font-size:12px;font-weight:600">Password</label>
          <input type="password" class="form-control" id="password" aria-describedby="password"
                 placeholder="Enter Password">
          <a href="#"><span class="d-flex justify-content-end" style="font-size:12px;font-weight:600;color: #0000ff" >Forgot password</span></a>
        </div>
      </div>
      <div class="d-flex">
        <div class="form-group w-100">
          <div class="form-check d-flex flex-row align-items-center">
            <input class="form-check-input" formControlName="termPolicy" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1" style="font-size: 11px">
              Keep me logged in on this devices
            </label>
          </div>
        </div>
      </div>
      <div class="d-flex mt-5">
        <div class="d-flex flex-column">
          <button class="btn btn-lg btn-primary">Sign In</button>
        </div>

      </div>

    </form>
  </div>
</div>
