<div class="d-flex flex-column flex-fill p-4 position-relative">
  <div class="d-flex flex-column">
    <h3>
      Get Started for FREE.
    </h3>
    <h3>Register with business information</h3>
  </div>
  <div class="d-flex pt-4">
    <button class="btn btn-danger">Sign up with Google</button>
    <button class="btn btn-info ml-4">Sign up with Microsoft</button>
  </div>

  <hr class="w-100 position-relative" style="top:15px">
  <span class="position-relative" style="top:-15px;left: 50%">Or</span>
  <div class="d-flex flex-column">
    <form>
      <div class="d-flex">
        <div class="form-group w-100">
          <label for="firstName" style="font-size:12px;font-weight:600">First Name</label>
          <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp" placeholder="John">
        </div>
        <div class="form-group ml-3 w-100">
          <label for="lastName" style="font-size:12px;font-weight:600">Last Name</label>
          <input type="text" class="form-control" id="lastName" aria-describedby="lasrNameHelp" placeholder="Doe">
        </div>
      </div>

      <div class="d-flex">
        <div class="form-group w-100">
          <label for="businessEmailId" style="font-size:12px;font-weight:600">Business Email Address</label>
          <input type="email" class="form-control" id="businessEmailId" aria-describedby="businessEmailIdHelp"
                 placeholder="john.doe@business.com">
        </div>
      </div>
      <div class="d-flex">
        <div class="form-group w-100">
          <label for="companyName" style="font-size:12px;font-weight:600">Company Name</label>
          <input type="text" class="form-control" id="companyName" aria-describedby="companyNameHelp"
                 placeholder="Google Inc">
        </div>
        <div class="form-group ml-3 w-100">
          <label for="contactNumber" style="font-size:12px;font-weight:600">Contact Number</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">+44
              </button>
              <div class="dropdown-menu">
                <span class="dropdown-item">+91</span>
              </div>
            </div>
            <input type="text" class="form-control" id="contactNumber" aria-label="Text input with dropdown button">
          </div>
        </div>
      </div>

      <div class="d-flex">
        <div class="form-group w-100">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1" style="font-size: 11px">
              By registering, I acknowledge that I agree to <span
              style="color: blue; cursor: pointer">Terms of use</span> and <span style="color: blue; cursor: pointer">Privacy Policy</span>
            </label>
          </div>
        </div>
      </div>

      <div class="d-flex mt-5">
        <div class="d-flex flex-column">
          <button class="btn btn-lg btn-primary">Register Free</button>
          <span class="mt-3" style="font-size: 12px;">
          Already have verified account? <span style="color: blue; cursor: pointer">Sign In</span>
        </span>
        </div>

      </div>

    </form>
  </div>


</div>
